sudo: false
language: python
matrix:
  fast_finish: true
  include:
    - python: "3.5"
      env: TOXENV=py35
    - python: "3.6"
      env: TOXENV=py36
    - python: "3.6"
      env: TOXENV=lint
install: pip install -U tox coveralls
script: tox
cache: pip
after_success: coveralls